@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.button {
    border: 2px solid #000;
    width: 30vw;
    transition: 1s;
    box-shadow: 2%;
    border-radius: 5px;
    margin: 20px auto;
}

.buttons h2 {
    font-size: 5vw;
}

.button:hover {
    transform: scale(1.1);
}

.button:active {
    background-color: yellow;
}

@media only screen and (max-width: 600px) {
    .button {
        width: 50vw;
        padding: 20px;
    }

    .button h2 {
        font-size: 2.8rem;
    }
}