*{
    padding: 0;
    margin: 0;
}

h1{
    margin-left: 33%;
    margin-top: 5%;
}

.buttons{
    text-align: center;
    margin-left: 40%;
    
}
.button{
    border: 2px solid #000;
    width: 33%;
    height: 15%;
    margin-top: 5%;
    transition: 1s;
    box-shadow: 2%;
}
.buttons h2{
    font-size: 5vw;
}
.button:hover{
    transform:scale(1.1);
}
.button:active {
    background-color: yellow;